<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25D125</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Calendar Reminder</string>
	<key>CFBundleExecutable</key>
	<string>calendarReminder</string>
	<key>CFBundleIconFile</key>
	<string>calendarReminderlogo</string>
	<key>CFBundleIconName</key>
	<string>calendarReminderlogo</string>
	<key>CFBundleIdentifier</key>
	<string>com.jacksonvil.calendarReminder</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>calendarReminder</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.2</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>00003</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25C57</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.2</string>
	<key>DTSDKBuild</key>
	<string>25C57</string>
	<key>DTSDKName</key>
	<string>macosx26.2</string>
	<key>DTXcode</key>
	<string>2620</string>
	<key>DTXcodeBuild</key>
	<string>17C52</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>We need this access in order to provide the full app. We connect to the calendar and display alerts in front of you.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We need this access in order to provide the full app. We connect to the calendar and display alerts in front of you.</string>
	<key>NSHumanReadableCopyright</key>
	<string>This software is licensed under the Apache-2.0 license. Copyright Jacksonvil 2026.</string>
	<key>SUFeedURL</key>
	<string>https://jacksonvil-s.github.io/calendar-reminder/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>KpMuRDH36XDggzCokiJ6oGtHeK7gTJxCuUwSFklMnJ0=</string>
</dict>
</plist>
